
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
--Strong-cyan: hsl(172, 67%, 45%);

/* ### Neutral */

--Very-dark-cyan-accent-bg: hsl(183, 100%, 15%);
--input-text-clr-Dark-grayish-cyan: hsl(186, 14%, 43%);
--Dark-grayish-cyan: hsl(184, 14%, 56%);
--body-bg-Light-grayish-cyan1: hsl(185, 41%, 84%);
--input-bg-Light-grayish-cyan2: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

html {
    font-family: 'Space Mono', monospace;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-Light-grayish-cyan1);
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 4rem;
}

header {
    padding: 2rem;
    text-align: center;
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    padding: 4rem;
    min-width: 375px;
    margin-inline: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.input-container {
    position: relative;
    
}

.error-msg {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    display: none;
}

/* JS style adding class error  */
/* .erro-msg.error {
    display: block;
} */

.icon {
    position: absolute;
    left:2rem;
    transform: translateY(100%)
    
}

input {
    background-color: var(--input-bg-Light-grayish-cyan2);
    width: 100%;
    border: none;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color:hsl(183, 100%, 15%);
    font-weight: 700;
    text-align: right;
    outline: none;
}

input:focus-visible {
    border: 3px solid hsl(172, 67%, 45%);
}

/* JS style adding error */
.people-input.error {
    border: 1px solid red;
}

.tip-amount {
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.tip-amount:hover {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan-accent-bg);
}

/* JS style tip button adding class active  */
.tip-amount.active {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan-accent-bg);
}

::placeholder {
    font-family: 'Space Mono', monospace;
    color: var(--Dark-grayish-cyan);
    font-size: 2.4rem;
}

.display {
    background-color: var(--Very-dark-cyan-accent-bg);
    border-radius: 1rem;
}

label {
    display: block;
}

.gray-text-label {
    color: var(--input-text-clr-Dark-grayish-cyan);
    margin-bottom: 1rem;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border: none;
}

/* Output section  */

.display {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    align-items: center;
    font-weight: 700;
}

.display-content {
    display: grid;
    gap: 2rem;
}

.display-text p {
    color: white;
}

.display-text .small-text {
    color: var(--input-text-clr-Dark-grayish-cyan);
    font-size: 2rem;
}

.display-num {
    font-size: 3rem;
    color:hsl(172, 67%, 45%);
}

.display-output {
    display: grid;
   grid-template-columns: auto auto;
   justify-content: space-between;
}

.reset-btn {
    width: 100%;
    color: var(--Very-dark-cyan-accent-bg);
    font-weight: 700;
    font-size: 2.5rem;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: var(--Strong-cyan);
    cursor: pointer;
}


@media (min-width: 1024px) {
   
    header {
        margin-bottom: 5rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        border-radius: 1rem;
    }

    fieldset {
        grid-template-columns: repeat(3, 1fr);
    }

    .display {
        align-content: space-between;
        padding: 4rem;
    }

    .display-text span {
        font-size: 3rem;
    }
    
    .display-num {
        font-size: 5rem;
       
    }

}

